SECRET_KEY='Your-secret-key'
DEBUG='True'
USERNAME_SERVER='Your-username-server'
PASSWORD_SERVER='Your-password-server'
TELEGRAM_BOT_TOKEN = 'ТОКЕН_ТВОЕГО_БОТА'
TELEGRAM_ADMIN_CHAT_ID = 'ТВОЙ_CHAT_ID_ИЛИ_ID_ГРУППЫ'